<p>Speed: {{currentSpeed}} Km/h   | SpeedZ: {{currentSpeedZ}} Km/h</p>
<p>GPS Access - {{isGpsAccess}} | Set Error - {{isSetError}}</p>

<ion-button expand="block" (click)="fixedErrorStop()">Start Navigating</ion-button>
<ion-button expand="block" (click)="gpsConfig()">GPS Config</ion-button>
<ion-button expand="block" (click)="setError()">Set/Stop Error</ion-button>
<ion-button expand="block" (click)="sendEmail()">Send Email</ion-button>


<table>
  <tr>
    <td size="4">Longitude</td>
    <td> {{gpsLatLng.lat}}</td>
  </tr>
  <tr>
    <td size="4">Latitude</td>
    <td>{{gpsLatLng.lng}}</td>
  </tr>
  <tr>
    <td size="4">Speed</td>
    <td>{{gpsSpeed}}</td>
  </tr>
  <tr>
    <td size="4">Count</td>
    <td>{{count}}</td>
  </tr>
</table>

